{% extends 'base.html.twig' %}

  {% block body %}
      <div class="form">
      <div class="container">
      <div class="row">
      <div class="col-lg-8">
      <div class="text-container">
      <h2 class="mt-5">Details </h2>
      <div class="row  ">
          <div class="col-sm-8">
              <div class="row">
                  <figure><img src="{{ asset('uploads/' ~ voyage.image ) }}" class="card-img-top" ></figure>

              </div>

          </div>
          <div class="col g-3">
              <div class="row-sm-7 ">
                  de {{ voyage.depart }} à {{ voyage.destination }}


              </div>
              <div class="row-sm-7">  le {{ voyage.date| date('m/d/y') }} pour {{ voyage.nbplace }} personnes
              </div>
              <div class="row-sm-7">  {{ voyage.prix }} Dinar pour un personne
              </div>
              <div class="row-sm-7"> Contact {{ voyage.user.email }}
              </div>
            {#   <div class="row-sm-7">  {{ voyage.moyentransport}} Dinar pour un personne
              </div>#}
          </div>
      </div>
  {% endblock %}